.coupon-card-img {
  border-radius: 15px;
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.coupon-card-container {
  height: 27rem;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  height: 1.5em;
  white-space: nowrap;
}
